/* GLOBAL
-------------------------------------------------*/
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

html {
  box-sizing: border-box;
  @include font-smoothing;
  font-size: 100%;
  -webkit-overflow-scrolling: touch;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}


body {
  margin: 0;
  background: $white;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

::-moz-selection {
  background: $colorPrimary;
  color: $white;
}

::selection {
  background: $colorPrimary;
  color: $white;
}

:active,
:focus  {
  outline: none;
}

::-moz-focus-inner,
a::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
}

:focus {
  outline: none!important;
}

::-moz-focus-inner {
  border: 0;
}

// Text meant only for screen readers
.screen-reader {
  height: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
  visibility: hidden;
}

// WP Post Edit Link
.post-edit-link{
  text-align: center;
  padding: 8px 20px;
  text-transform: uppercase;
  @include fixed($b:0,$l:50%, $z:10000);
  margin-left: -75px;
  width: 150px;
  display: inline-block;
  background-color: complement($colorPrimary);
  color: $white;
  font-weight: bold;
}
