
/*--------------------------------------------------------------
# Custom Grid
--------------------------------------------------------------*/
@include respond-to($screen-xxs) {
   @include make-grid(xxs);
}

/*--------------------------------------------------------------
# Visibility
--------------------------------------------------------------*/

.visible-sm {
  @include respond-max($screen-sm) {
    display: none!important;
  }
}

.visible-xs {
  @include respond-max($screen-xs) {
    display: none!important;
  }
}

.hidden-sm {
  @include respond-to($screen-sm) {
    display: none!important;
  }
}

.hidden-xs {
  @include respond-to($screen-xs) {
    display: none!important;
  }
}

/*--------------------------------------------------------------
# Helper Classes
--------------------------------------------------------------*/
.spacer {
  width: 100%;
  display: block;
  height: $spacer;
}

.text-center {
  text-align: center;
}

.clearfix {
  @extend %clearfix;
}


/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
%container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.max-width {
  &,
  &.container-fluid {
    @extend %container;
    max-width: $max-width;
  }
}


/*--------------------------------------------------------------
# Padding
--------------------------------------------------------------*/

.pad {
  @extend %section-pad;
}


/*--------------------------------------------------------------
# Flex
--------------------------------------------------------------*/

.flex-wrap {
  position: relative;
  display: flex;
}

.split-col {
  position: relative;
  display: flex;
  .col {
    width: 50%;
    position: relative;
  }
  @include respond-to($screen-xxs) {
    flex-wrap: wrap;
    .col {
      width: 100%;
      & + .col {
        margin-top: 1rem;
      }
    }
  }
}
